@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--visual-viewport-height: 100dvh;
	--estimated-visual-viewport-height: calc(100dvh - 269px); /* iOS default keyboard height */
}

input[data-wrapped] {
	border: 1px solid theme("colors.neutral.300");
	padding: theme("spacing.1");
}

input:not([data-wrapped]) {
	background: transparent;
}
