body {
    margin: 0px;

    --color-5: #fcecdd;
    --color-4: #eedcc8;
    --color-3: #8c6d4a;
    --color-2: #553e25;
    --color-1: #321b00;

    background: var(--color-5);
    color: var(--color-1);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
button,
input {
    font-family: meno-display, serif;
    font-weight: 400;
    margin: 0px;
    color: var(--color-1);
}

h1 {
    font-size: 2.5rem;
}

span[data-slate-node],
span[data-slate-leaf],
span[data-slate-string] {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

button {
    outline: none;
    border: none;
    font-size: 1em;
}

input {
    font-size: 1em;
}
